# Node / React
node_modules/
.env
.env.local
.env.development
.env.production

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
